*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
}

#chat{

    position: fixed;
    width: 250px;
    height: 40px;
    bottom: 0;
    right: 20px;
    background: magenta;
    z-index: 20;
    color: white;
    text-align: center;
    line-height: 40px;
    font-family: 'Audiowide', cursive;
    font-size: 20px;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
}

header{
    position: relative;
    margin:20px auto;
    width: 1000px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo, .logo__flex{
    width: 200px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img{
    max-width: 100%;
    max-height: 100%;
    transition: 0.5s;
}
#logo img:hover{
    max-width: 100%;
    max-height: 100%;
    transform: scale(1.2);
}

.redes-wrapper{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes-wrapper a{
    
    text-decoration: none;
}

.redes{
    background: #ccc;   
    border-radius: 100%;
    text-align: center;
    color: white;
    width: 40px;
    height: 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#icono1{
    /* top: 42px;
    right: 120px; */
    background: #0a82ec;
}

#icono2{
    /* top: 42px;
    right: 69px; */
    background: green;
}

#icono3{
    /* top: 42px;
    right: 19px; */
    background: red;
}

.header__redes--icono1{
    background-color: red;
}


nav{

    position: relative;
    margin: auto;
    width: 1000px;
    height: 48px;
    z-index: 100;
    
}

nav .botones{
    float:left;
    width: 196px;
    margin: 0px 2px;
    height: 48px;
    background-color: rgb(88 166 192);
    color: white;
    text-align: center;
    line-height: 48px;
    font-family: 'Audiowide', cursive;
    transition: 0.5s;
}
nav .botones a{
    color: white;
    text-decoration: none;
}
nav .botones a span{
    display: block;
    min-width: 196px;
    min-height: 48px;
}

nav .botones:hover{
    transform: scale(1.1)/*  rotate(5deg) */ translateY(-10px);
    background-color: rgb(57, 9, 129);
}

nav .botones:active{
    background: rgba(255, 0, 100, 1);
}

.botones:hover ul {
    opacity: 1;
} 

nav .sub-menu{
    background-color: rgb(88 166 192);
    transition: 0.5s;
    opacity: 0;
}
nav .sub-menu__item{
    border-top: solid white 1px;
    margin-bottom: 2px;
    transition: 0.5s;
}
nav .sub-menu__item:hover {
    background-color: rgba(57, 9, 129, 0.95);
}

nav .sub-menu__btn{
    cursor: zoom-in;
}

.sub-menu__item a{
    display: block;
    min-width: 196px;
    min-height: 48px;
}

#top{
    position: relative;
    margin:20px auto;
    width: 1000px;
    height: 192px;
}

#top ul{

    width: 1010px;
    height: 192px;
}

#top ul li{

    float: left;
    width: 326px;
    height: 192px;
    margin-right: 10px;
    text-align: center;

}

#top ul li img{
    border-radius: 100%;
    height: 100px;
    transition: 0.8s;

}

#top ul li img:hover{
    transform: scale(1.2)rotate(5deg);
    filter: grayscale(100%);
}

#top ul li h1{
    font-family: 'Audiowide', cursive;
}

#top ul li p{
    font-size: 14px;
    margin: 10px;
    text-align: center;
    padding: 0 75px;
}


section{

    position: relative;
    margin: auto;
    width: 1000px;
    height: 453px;
}

aside#izq{

    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 453px;
}

#izq ul li{
    background-color: #aaa;
    padding: 10px;
    margin: 2px 10px;
    list-style: square;
    list-style-position: inside;
    list-style-image: url("./img/bullet.jpg");

    }

    #izq ul li a{

        text-decoration: none;
    }

article{

    position: absolute;
    left: 200px;
    top: 0;
    width: 600px;
    height: 453px;
}

article h1{

    font-family: 'Audiowide', cursive;  
    font-size: 40px;
    margin: 20px;
}

article p img{

    float: left;
    margin-right: 20px;
}

article p{

    margin: 5px 20px;
    font-size: 14px;
    text-align: justify;
}

aside#der{

    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 453px; 

}

#der h1{
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background:rgb(100, 0, 255);
    color: white;
    margin-bottom: 5px;

}

#der input{

    padding: 10px;
    margin: 5px 0;
    width: 176px;
}

#der input[type="text"]{
    background: url('./img/Usuario.png');
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 3px;
}

#der input[type="password"]{
    background: url('./img/password.png');
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 3px;
}

#der input[type="email"]{
    background: url('./img/email.png');
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 3px;
}


#der input[type="submit"]{

    width: 200px;
    background: rgba(100, 0, 100,.5);
    border: 0;
}

footer{

    position: fixed;
    margin: 0px calc(50vw - 500px) !important;
    margin:20px auto;
    width: 1000px;
    height: 70px;
    background:rgb(88 166 192);
    text-align: center;
    line-height: 70px;
    color: white;
    bottom: 0;
    z-index: 10;
    
}


@media (max-width: 1000px) {
    #chat{
        width: 100vw;
        background: #f60;
        right: 0;
        width: 100px;
        bottom: 50px;
        border-radius: 20px 0 0 20px;
    }
    header{
        display: flex;
        justify-content: space-between;
        width: auto;
        padding: 30px;
        height: 20px;
    }
    #logo, .logo__flex {
        width: auto;
        height: 70px;
    }
    #top{
        width: 100vw;
    }

    nav{
        width: 100%;
        height: auto;
    }

    nav >ul{
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }

    nav .botones{
        float: inherit;
        width: 100%;
        margin-bottom: 2px;
    }

    nav .botones:hover{
        transform: scale(1)translateY(0px);
    }

    nav .sub-menu{
        display: none;
    }
    footer{
        position: inherit;
        width: auto;
        margin: 0 !important;
    }

    .main.gallery{
        width: 100%;
        padding: 0;;
    }
}


/* gallery */

section.gallery {
    height: calc(100vh - 335px);/* 160header + 48nav + 110footer */
    background: #ddd;
    padding: 10px;
    background-image: url(../img/tipos-de-paisaje-natural.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: 0.5s;
    overflow: hidden;
    margin-top: 20px;
}

section.gallery:hover h1{
    background-color:rgba(153, 194, 204, 1);
    box-shadow: 0 0 5px #888;
    /* margin-top: 0; */
    opacity: 1;
    transform: rotateX(0deg) translateY(0px);
}

.gallery h1{
    padding: 10px;
    background-color:rgba(153, 194, 204, 0.5);
    text-shadow: 3px 3px 5px #ccc;
    min-width: 200px;
    text-align: center;
    /* margin-top: 500px; */
    opacity: 0;
    transition: 0.5s;
    transform: translateY(200px);
}

section.about, section.contact {
    /* max-height: calc(100vh - 358px);160header + 48nav + 110footer */
    background: #ddd;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 318px);
}
section.contact{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 10px;
    max-width: 600px;
    min-width: 300px;
    height: calc(100vh - 300px);
}
.contact-wrapper{
    border:1px solid #ced4da;
    padding: 15px;
    border-radius: 4px;
    width: 100%;
}
.contact-wrapper .form-control{
    display: flex;
    flex-direction: column;
}
.contact-wrapper .form-control label{
    font-size: 16px;
    color: rgb(33, 37, 41);
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    margin-bottom: 8px;
}

.contact-wrapper .form-control input,
.contact-wrapper .form-control textarea{
    font-size: 16px;
    color: rgb(33, 37, 41);
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    margin-bottom: 8px;
    padding: 6px 12px;
    border-radius: 4px;
    border:1px solid #ced4da;
}
.contact-wrapper .form-control textarea{
    height: 80px;
}
.contact-wrapper .btn-send{
    color: #fff;
    border: none;;;;;
    background-color: #007bff;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    width: 100%;
    transition: 0.5s;
    cursor: pointer;
}
.contact-wrapper .btn-send:hover{
    background-color: #84abd6;
}

.contact h1, h2{
    font-size: 24px;
    color: rgb(66, 74, 79);
    font-weight: lighter;
    margin-bottom: 15px;
    margin-top: 14px;
}

.contact .image{
    width: 100px;
    height: 100px;
}

